html {
  Background: rgb(65, 0, 0)
}
h1 {
    font-family: fantasy;
    color: rgb(255, 30, 30);
}
h2 {
    font-family: fantasy;
    color: silver;
}
li {
    font-family: 'Trebuchet MS';
    color: white
}
p {
    font-family: 'Trebuchet MS';
    color:white;
}
a {
  font-family: 'Trebuchet MS';
    color: white  
}
button {
    font-family: 'Trebuchet MS';
    padding: 15px;
    background-color:rgb(255, 30, 30);
    color:rgb(0, 0, 0)
}
button:hover {
    background-color:red;
}
a:hover {
    color: white
}
.navbutton {
    justify-content: center;
}
.homebutton {
    justify-content: right;
}
