html {
  Background: black;
}
h1 {
    font-family: fantasy;
    color:rgb(255, 0, 145);
}
h2 {
    font-family: fantasy;
    color:cyan;
}
li {
    font-family: 'Trebuchet MS';
    color: white
}
p {
    font-family: 'Trebuchet MS';
    color:white;
}
a {
  font-family: 'Trebuchet MS';
    color: white  
}
button,.button {
    font-family: 'Trebuchet MS';
    padding: 15px;
    background-color:rgb(255, 0, 145);
    color:rgb(255, 255, 255);
}
button:hover,.button:hover {
    background-color:rgb(255, 0, 135);
    color: black
}
.navbutton {
    text-align: center;
}
.homebutton {
    text-align: right;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
}