html {
  Background: black;
}
h1 {
    font-family: fantasy;
    color:rgb(255, 0, 145);
}
h2 {
    font-family: fantasy;
    color:rgb(255, 0, 145);
}
li {
    font-family: 'Trebuchet MS';
    color: white
}
p {
    font-family: 'Trebuchet MS';
    color:rgb(0, 191, 255);
}
a {
  font-family: 'Trebuchet MS';
    color:rgb(000, 191, 255)  
}
button {
    font-family: 'Trebuchet MS';
    padding: 15px;
    background-color:rgb(255, 0, 145);
    color:rgb(0, 0, 0)
}
button:hover {
    background-color:rgb(255, 0, 135);
}
