html {
  Background: black;
}
h1 {
    font-family: fantasy;
    color:rgb(255, 0, 145);
}
h2 {
    font-family: fantasy;
    color:cyan;
}
li {
    font-family: 'Trebuchet MS';
    color: white
}
p {
    font-family: 'Trebuchet MS';
    color:white;
}
a {
  font-family: 'Trebuchet MS';
    color: white  
}
button {
    font-family: 'Trebuchet MS';
    padding: 15px;
    background-color:rgb(255, 0, 145);
    color:rgb(0, 0, 0)
}
button:hover {
    background-color:rgb(255, 0, 135);
}
a:hover {
    color: black
}
.navbutton {
    justify-content: center;
}
.homebutton {
    justify-content: right;
}
